.btn{
    background-color: skyblue;
    color: purple;
}

.dark-btn{
    background-color: purple;
    color: aliceblue;
}

.mybg{
    background-color: white;
    color: black;
}

.mybg-dark{
    background-color: black;
    color: white;
}